[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
	branch = master
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
	branch = master
[submodule "vim/bundle/nerdtree"]
	path = vim/pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	branch = master
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/pack/bundle/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
	branch = master
[submodule "vim/bundle/undotree"]
	path = vim/pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree.git
	branch = master
[submodule "vim/bundle/vim-airline"]
	path = vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "vim/bundle/vim-devicons"]
	path = vim/pack/bundle/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
	branch = master
[submodule "vim/bundle/vim-easyescape"]
	path = vim/pack/bundle/start/vim-easyescape
	url = https://github.com/zhou13/vim-easyescape.git
	branch = master
[submodule "vim/bundle/vim-fugitive"]
	path = vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "vim/bundle/vim-nerdtree-syntax-highlight"]
	path = vim/pack/bundle/start/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
	branch = master
[submodule "vim/bundle/vim-misc"]
	path = vim/pack/bundle/start/vim-misc
	url = https://github.com/xolox/vim-misc
	branch = master
[submodule "vim/bundle/vim-notes"]
	path = vim/pack/bundle/start/vim-notes
	url = https://github.com/xolox/vim-notes
	branch = master
[submodule "vim/bundle/rainbow"]
	path = vim/pack/bundle/start/rainbow
	url = https://github.com/luochen1990/rainbow
	branch = master
[submodule "vim/pack/bundle/start/dracula"]
	path = vim/pack/bundle/start/dracula
	url = git@github.com:dracula/vim.git
[submodule "vim/pack/bundle/start/vim-markdown"]
	path = vim/pack/bundle/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
	branch = master
