Host home
    HostName 76.103.181.8
    User nickmahd
    Port 6399

Host easton
    HostName 192.227.194.209
    User nickmahd

Host *
    AddKeysToAgent yes
#    UseKeychain yes
    IdentityFile ~/.ssh/id_ed25519
